layout {

    focus-ring {
        active-color   "#d0e467"
        inactive-color "#292e0f"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#d0e467"
        inactive-color "#292e0f"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#292e0f70"
    }

    tab-indicator {
        active-color   "#d0e467"
        inactive-color "#788d0c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#d0e46780"
    }
}

recent-windows {
    highlight {
        active-color "#d0e467"
        urgent-color "#fd4663"
    }
}
