layout {

    focus-ring {
        active-color   "#f65566"
        inactive-color "#291416"
        urgent-color   "#f3192f"
    }

    border {
        active-color   "#f65566"
        inactive-color "#291416"
        urgent-color   "#f3192f"
    }

    shadow {
        color "#29141670"
    }

    tab-indicator {
        active-color   "#f65566"
        inactive-color "#990010"
        urgent-color   "#f3192f"
    }

    insert-hint {
        color "#f6556680"
    }
}

recent-windows {
    highlight {
        active-color "#f65566"
        urgent-color "#f3192f"
    }
}
